<div id="socialButtons"> 
                <div id="share1"> 
                    <div id="likeButton"> 
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fquiklyrics.appspot.com&amp;layout=button_count&amp;show_faces=false&amp;width=90&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe> 
                    </div> 
                </div> 
                <div id="share2"> 
                    <div id="tweetButton"> 
                        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="RealJetPhillips" data-url="http://quiklyrics.appspot.com" data-counturl="http://quiklyrics.appspot.com">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
                    </div> 
                </div> 
                <div id="share3"> 
                    <div id="buzzButton"> 
                        <a title="Post to Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post" data-button-style="small-count" data-imageurl="http://quiklyrics.appspot.com/images/reallogo.png"></a>
						<script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
                    </div> 
                </div> 
            </div>
            